.main-header {
  align-items: center;
  background-color: var(--primary);
  display: flex;
  height: 8vh;
  justify-content: flex-start;
  max-height: 80px;
  padding: 10px;
  position: fixed;
  width: 100vw;
  z-index: 9999;
  color: #fff;
}

i {
  color: var(--primary);
}

.navigation-h1 {
  font-size: 1.4rem;
  margin-left: 5vw;

}

.navigation-back {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 5px 10px;
}

.navigation-back:hover {
  background-color: rgba(255,255,255,0.5);
  border-color: rgba(255,255,255,0.3);
}
