@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  box-sizing: border-box;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #999;
}

body {
  margin: 0;
  padding: 0;
  --primary: #94e293;
  --primary-tinted: #85cb84;
  --secondary: #ff5733;
  --secondary-tinted: #e64e2e;
  --hover: #dcffd7;
  --myWhite: ghostwhite;
  --myGrey: lightgrey;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
}
