.prompts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  color: #fff;
}
a {
  border-radius: 2px;
  cursor: pointer;
  padding: 2px 10px;
}
.prompts a {
  background-color: var(--primary);
  color: #fff;
}
.prompts a:hover {
  background-color: var(--primary-tinted);
  color: #fff;
}
.tags p {
  color: black;
}
.btn-primary {
  background-color: var(--secondary);
}
.btn-primary:hover {
  background-color: var(--secondary-tinted);
}
